# Tester directory
LazyPhilosophersTester/
42-philosophers-tester/

# Object files
*.o

# Executables
/philo/philo
/philo_bonus/philo_bonus
a.out

# Header precompiled
*.gch

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
